/* 노멀라이징 */
*{
  margin: 0 ;
  padding: 0 ;
}
ul , li {
  list-style: none ;
}
a{
  color: inherit ;
  text-decoration: none ;
}
/* html,body{
  overflow-x : hidden ;
} */
/* 라이브러리 */
.cell{
  float : left ;
}
.cell-r{
  float: right ;
}
.row::after{
  clear : both;
  content : "";
  display : block;
}
.slider-wrap{
  box-sizing : border-box ;
/*   display : flex ; */
}
.slider{
  box-sizing : border-box ;
  display : flex ;
/*   overflow: visible; */
/*   white-space:nowrap;  */
/*   overflow-x : auto; */
/*   flex-wrap: nowrap; */
}
.content{
  min-height : 100vh ;
  box-sizing : border-box ;
/*   display : flex ; */
  width : 100% ;
  flex-shrink : 0 ;
  flex: 0 0 auto;
}
.slider-wrap .slider > .content > .main-txt{
  font-family: 'GmarketSansBold';
}
/* 스타일 */
/* move-menu start */
.slider-wrap .slider > .move-menu{
  position : absolute ;
  font-size : 20px ;
  text-align : center ;
  width : 13% ;
  background-color : rgba(244,239,236) ;
  top : 50% ;
  transform : translatey(-50%) ;
  z-index : 9999 ;
  opacity : 0 ;
  visibility : hidden ;
  scroll-behavior : smooth ;
  font-family: 'Arita-dotum-Medium';
  font-size : 20px ;
}

.slider-wrap .slider > .move-menu.active{
  opacity : 1 ;
  visibility : visible ;
  scroll-behavior : smooth ;
  display : block ;
}

.slider-wrap .slider > .move-menu > ul > li{
  padding-top : 10% ; 
  padding-bottom : 10% ;
  border : 3px rgba(221,183,172) solid ;
  border-bottom : 0 ;
}

.slider-wrap .slider > .move-menu > ul > li:last-child{
  border-bottom : 3px rgba(221,183,172) solid ;
}
/* move-menu end */
/* first-chapter start */
.slider-wrap .slider > .first-chapter{
  position : relative ; 
}

.slider-wrap .slider > .first-chapter > .diary{
  width : 35% ;
  position : absolute ;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,-50%) ;
  box-sizing : border-box ;
  position : relative ;
}

.slider-wrap .slider > .first-chapter > .diary > .left{
  width : 100% ;
  padding-bottom : 120% ;
  background-color : rgba(241, 185, 186) ; 
  box-sizing : border-box ;
}

.slider-wrap .slider > .first-chapter > .diary > .left > .left-img{
  width : 30% ;
  padding-bottom : 55% ;
  background-color : skyblue ;
  position : absolute ;
  bottom : 50% ;
  left : 30% ;
  transform: translate(-30%) rotate(-30deg);
}

.slider-wrap .slider > .first-chapter > .diary > .left > .right-img{
  width : 30% ;
  padding-bottom : 55% ;
  background-color : skyblue ;
  position : absolute ;
  bottom : 10% ;
  right : 20% ;
  transform: translate(-30%) rotate(20deg);
}

.slider-wrap .slider > .first-chapter > .diary > .menu > ul{
  position : absolute ;
  top : 50% ;
  transform : translatey(-50%) ;
  height : 100% ;
  text-align : center ;
  font-family: 'Arita-dotum-Medium';
  font-size : 20px ; 
}

.slider-wrap .slider > .first-chapter > .diary > .menu > ul > li{
/*   padding-bottom : 20% ; */
  height : 50px ;
  border : 3px rgba(221,183,172) solid ;
  background-color : rgba(244,239,236) ;
  border-bottom : 0 ;
}

.slider-wrap .slider > .first-chapter > .diary > .menu > ul > li:last-child{
  border-bottom : 3px  rgba(221,183,172) solid;
}

.slider-wrap .slider > .first-chapter > .diary > .menu > ul > li:nth-child(5) {
  line-height : 300% ;
}

.slider-wrap .slider > .first-chapter > .diary > .menu > ul > li:nth-child(6) {
  line-height : 300% ;
}

.slider-wrap .slider > .first-chapter > .pen{
  background-repeat : no-repeat ;
  background-size : cover ;
  background-position:  center ;
  width : 8% ;
  height : 50% ;
}

.slider-wrap .slider > .first-chapter > .pen > img{
  width : 60% ;
}

.slider-wrap .slider > .first-chapter > .pen01{
  position : absolute ;
  top : 50% ;
  left : 10% ;
  transform : rotate(20deg) translate(-10%,-50%);
}

.slider-wrap .slider > .first-chapter > .pen02{
  position : absolute ;
  top : 50% ;
  right : 20% ;
  transform : rotate(20deg) translate(-20%,-50%);
}

.slider-wrap .slider > .first-chapter > .pen03{
  position : absolute ;
  top : 30% ;
  right : 3% ;
  transform : rotate(-35deg) translate(-3%,-30%);
}

.slider-wrap .slider > .first-chapter > .pen04{
  position : absolute ;
  top : 30% ;
  left : 2% ;
  transform : translate(-2%,-30%) rotate(80deg) ;
}

.slider-wrap .slider > .first-chapter > .pen05{
  position : absolute ;
  top : 5% ;
  right : 2% ;
  transform : translate(-2%,-5%) rotate(20deg) ;
}

.slider-wrap .slider > .first-chapter > .pen06{
  position : absolute ;
  bottom : 3% ;
  right : 2% ;
  transform : translate(-2%,-3%) rotate(60deg) ;
}

.slider-wrap .slider > .first-chapter > .pen07{
  position : absolute ;
  top : 1% ;
  left : 2% ;
  transform : translate(-2%,-1%) rotate(-45deg) ;
}

.slider-wrap .slider > .first-chapter > .pen08{
  position : absolute ;
  bottom : 18% ;
  left : 2% ;
  transform : translate(-2%,-18%) rotate(-30deg) ;
}
/* first-chapter end */
/* personal-data start */
.slider-wrap .slider > .personal-data{
  position : relative ;
}

.slider-wrap .slider > .personal-data > .main-txt{
  writing-mode : vertical-rl ;
  text-orientation : upright ;
  font-size : 42px ;
  position : absolute ;
  top : 30% ;
  left : 10% ;
  transform : translate(-10%,-30%) ;
  cursor : context-menu ;
  font-family: 'Arita-dotum-Medium';
}

.slider-wrap .slider > .personal-data > .img-box{
  width : 23% ;
  padding-bottom : 23% ;
  background-color : rgba(241,185,185) ;
  border-radius : 50% ;
  position : absolute ;
  top : 40% ;
  left : 30% ;
  transform : translate(-30%,-40%) ;
}

.slider-wrap .slider > .personal-data > .data-box{
  width : 40% ;
/*   padding-bottom : 23% ; */
  position : absolute ;
  top : 40% ;
  right : 5% ;
  transform : translate(-5%,-40%) ;
  box-sizing : border-box ;
}

.slider-wrap .slider > .personal-data > .data-box > .txt-wrap{
  margin-bottom : 5% ;
}

.slider-wrap .slider > .personal-data > .data-box > .txt-wrap:nth-child(3){
  margin-bottom : 10% ;
}

.slider-wrap .slider > .personal-data > .data-box > .txt-wrap:nth-child(5){
  margin-bottom : 0 ;
}

.slider-wrap .slider > .personal-data > .data-box > .txt-wrap > .txt-bar{
  border-bottom : 3px rgba(221,183,172) solid ;
}

.slider-wrap .slider > .personal-data > .data-box > .txt-wrap > .txt-bar > p{
  font-size : 25px ;
  width : 25% ;
  font-family: 'Arita-dotum-Medium';
}

.slider-wrap .slider > .personal-data > .data-box > .txt-wrap > .txt-bar > .txt{
  margin-left : 20% ;
  font-size : 24px ;
  font-family: 'Dovemayo-Medium';
}
/* personal-data end */
/* other-data start */
.slider-wrap .slider > .other-data{
  position : relative ;
}

.slider-wrap .slider > .other-data > .main-txt{
  writing-mode : vertical-rl ;
  text-orientation : upright ;
  font-size : 42px ;
  position : absolute ;
  top : 30% ;
  left : 10% ;
  transform : translate(-10%,-30%) ;
  cursor : context-menu ;
  font-family: 'Arita-dotum-Medium';
}

.slider-wrap .slider > .other-data > .diary-wrap{
  width : 35% ;
  padding-bottom : 45% ;
  position : absolute ;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,-50%) ;
  box-sizing : border-box ;
  background-color : rgba(240,217,209) ;
  position : relative ;
  overflow : hidden ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper{
  width : 90% ;
  height : 90% ;
  position : absolute ;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,-50%) ;
  box-sizing : border-box ;
  background-color : rgba(244,239,236) ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper > .btn-wrap{
  width : 120% ;
  height : 110% ;
  position : absolute ;
  top : 55% ;
  left : 53% ;
  transform : translate(-53%,-55%) ;
} 

.slider-wrap .slider > .other-data > .diary-wrap > .paper > .btn-wrap > .left-btn{
  width : 15% ;
  height : 10% ;
  position : absolute ;
  top : 0 ;
  left : 5% ;
  transform : translate(-5%) ;
  cursor : pointer ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper > .btn-wrap > .left-btn > img{
  width: 100% ;
  background-position: center ;
  background-repeat: no-repeat ;
  background-size: cover ; 
  transform: rotate(270deg) ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper > .btn-wrap > .right-btn{
  width : 15% ;
  height : 10% ;
  position : absolute ;
  top : 0 ;
  right : 3% ;
  transform : translate(-3%) ;
  cursor : pointer ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper > .btn-wrap > .right-btn > img{
  width: 100% ;
  background-position: center ;
  background-repeat: no-repeat ;
  background-size: cover ;   
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper > .title{
  height : 10% ;
  font-size : 25px ;
  text-align : center ;
  font-family: 'Arita-dotum-Medium';
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper > .list{
  height : 85% ;
  box-sizing : border-box ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper > .list > .txt-wrap > .txt-bar{
  margin-bottom : 13% ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper > .list > .txt-wrap > .txt-bar:last-child{
  margin-bottom : 0 ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper > .list > .txt-wrap > .txt-bar > .box{
  width : 30px ;
  height : 30px ;
  background-color : rgba(221,183,172) ;
  margin-right : 20% ;
  margin-left : 5% ;
  border-radius : 50% ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper > .list > .txt-wrap > .txt-bar > .txt{
  font-size : 24px ;
  font-family: 'Dovemayo-Medium';
}
 
.slider-wrap .slider > .other-data > .diary-wrap > .paper > .page-number{
  height : 5%;
  text-align : center ;
  font-size : 20px ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper01 > .btn-wrap.active{
  opacity : 0 ;
  visibility : hidden ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper02{
  opacity : 0 ;
  visibility : hidden ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper02.active{
  opacity : 1 ;
  visibility : visible ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper02 > .btn-wrap.active{
  opacity : 0 ;
  visibility : hidden ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper03{
  opacity : 0 ;
  visibility : hidden ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper03.active{
  opacity : 1 ;
  visibility : visible ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper03 > p{
  margin-left : 5% ;
  margin-top : 5% ;
  font-family: 'Dovemayo-Medium';
  font-size : 18px ; 
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper03 > .skill-bar{
  width : 80% ;
  height : 5% ;
  background-color : white ;
  border-radius : 15px ;
  margin-top : 5% ;
  margin-left : 5% ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper03 > .skill-bar > .skill{
  background-color : rgba(221,183,172) ; 
  border-radius : 15px ;
  height : 100% ;
  width: 10%;
  transition : 1s ;
  text-align : right ;
  line-height : 200% ;
  font-family: 'Dovemayo-Medium';
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper03 > .skill-bar > .photoshop.active{
  width : 60% ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper03 > .skill-bar > .illustration.active{
  width : 60% ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper03 > .skill-bar > .html.active{
  width : 70% ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper03 > .skill-bar > .css.active{
  width : 75% ;
}

.slider-wrap .slider > .other-data > .diary-wrap > .paper03 > .skill-bar > .js.active{
  width : 40% ;
}
.slider-wrap .slider > .other-data > .diary-wrap > .paper03 > .page-number{
  margin-top : 7% ;
}
/* other-data end */
/* web-project start */
.slider-wrap .slider > .web-project{
  position : relative ;
}

.slider-wrap .slider > .web-project > .main-txt{
  writing-mode : vertical-rl ;
  text-orientation : upright ;
  font-size : 42px ;
  position : absolute ;
  top : 30% ;
  left : 10% ;
  transform : translate(-10%,-30%) ;
  cursor : context-menu ;
  font-family: 'Arita-dotum-Medium';
}

.slider-wrap .slider > .web-project > .diary-wrap{
  width : 35% ;
  padding-bottom : 45% ;
  position : absolute ;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,-50%) ;
  box-sizing : border-box ;
  background-color : rgba(240,217,209) ;
/*   position : relative ; */
  z-index : 9 ;
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper{
  width : 90% ;
  height : 90% ;
  position : absolute ;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,-50%) ;
  box-sizing : border-box ;
  background-color : rgba(244,239,236) ;
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .txt-wrap{
  width : 100% ;
  height : 10% ;
  box-sizing : border-box ;
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .txt-wrap > .day-box{
  width : 25% ;
  height : 100% ;
  text-align : center ;
  line-height : 300% ;
  font-size : 24px ;
  font-family: 'Dovemayo-Medium';
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .txt-wrap > .day-box:first-child{
  margin-left : 5% ;
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .txt-wrap > .box{
  width : 5% ;
  height : 100% ;
  text-align : center ;
  text-align : center ;
  line-height : 300% ;
  margin-left : 5% ;
  margin-right : 5% ;
  font-family: 'Dovemayo-Medium';
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .information-wrap{
  width : 100% ;
  height : 90% ;
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .information-wrap > .left-wrap{
  width : 50% ;
  height : 100% ;
  box-sizing : border-box ;
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .information-wrap > .left-wrap > .img-box{
  margin : 0 auto ;
  width : 80% ;
  height : 30% ;
  margin-top : 20% ;
  margin-bottom : 50% ;
  background-repeat : no-repeat ;
  background-size : cover ;
  background-position : center ;
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .information-wrap > .left-wrap > .img-box > img{
  width : 100% ;
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .information-wrap > .left-wrap > .img-box:first-child{
  transform : rotate(20deg) ;
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .information-wrap > .left-wrap > .img-box:last-child{
  transform : rotate(-20deg) ;
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .information-wrap > .left-wrap > .move-box{
  transform : rotate(20deg) translate(-20%,-50%);
  position : absolute ;
  top : 50% ;
  left : 20% ; 
  font-family: 'Dovemayo-Medium';
  font-size : 20px ;
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .information-wrap > .right-wrap{
  width : 50% ;
  height : 100% ;
  box-sizing : border-box ;
}

.slider-wrap .slider > .web-project > .diary-wrap > .paper > .information-wrap > .right-wrap > .txt-bar{
  width : 100% ;
  height : 10% ;
  box-sizing : border-box ;
  border-bottom : 3px rgba(221,183,172) solid ;
  line-height : 480% ;
  font-family: 'Dovemayo-Medium';
  font-size : 18px ;
}

.slider-wrap .slider > .web-project > .back-paper{
  width : 35% ;
  padding-bottom : 45% ;
  position : absolute ;
  top : 55% ;
  left : 55% ;
  transform : translate(-55%,-55%) ;
  box-sizing : border-box ;
  background-color : rgba(153,155,133) ;
  z-index : 0 ;
}
/* web-project end */
/* art-work start */
.slider-wrap .slider > .art-work{
  position : relative ;
}

.slider-wrap .slider > .art-work > .main-txt{
  writing-mode : vertical-rl ;
  text-orientation : upright ;
  font-size : 42px ;
  position : absolute ;
  top : 30% ;
  left : 10% ;
  transform : translate(-10%,-30%) ;
  cursor : context-menu ;
  font-family: 'Arita-dotum-Medium';
}

.slider-wrap .slider > .art-work > .diary-wrap{
  width : 70% ;
  padding-bottom : 45% ;
  background-color : rgba(240,217,209) ;
  position : absolute ;
  top : 50% ;
  left : 70% ;
  transform : translate(-70%,-50%) ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper{
  width : 90% ;
  height : 90% ;
  background-color : rgba(244,239,236) ;
  position : absolute ;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,-50%) ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section{
  width : calc(100%/3) ;
  height : 100% ;
  box-sizing : border-box ;
  border-right : 3px rgba(221,183,172) solid ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section:last-child{
  border-right : 0 ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section > .img-wrap{
  width : 100% ;
  height : 25% ;
  position : relative ;
  box-sizing : border-box ;
  border-bottom : 3px solid rgba(221,183,172) ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section > .img-wrap > .img-box{
  width : 90% ;
  height : 90% ;
  background-color : yellow ;
  position : absolute ;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,-50%) ;
  background-size : cover ;
  background-repeat : no-repeat ;
  background-position : center ;
} 

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section > .img-wrap > .img-box > img{
  width : 100% ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section > .txt-wrap{
  width : 100% ;
  height : 75% ;
  position : relative ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section > .txt-wrap > .txt-box{
  width : 90% ;
  height : 90% ;
  position : absolute ;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,-50%) ;
  font-family: 'Dovemayo-Medium';
  font-size : 24px ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section > .txt-wrap > .txt-box > .wrap > .box{
  width : 30px ;
  height : 30px ;
  background-color : rgba(221,183,172) ;
  margin-left : 5% ;
  margin-right : 5% ;
  margin-top : 15% ;
  border-radius : 50% ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section > .txt-wrap > .txt-box > .wrap > .txt{
  width : 70% ;
  height : 30px ;
  box-sizing : border-box ;
  margin-top : 15% ;
  font-size : 20px ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section > .txt-wrap > .txt-box > .wrap > .color{
  width : 70% ;
  height : 40px ;
  box-sizing : border-box ;
  margin-top : 15% ;
  font-size : 20px ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section > .txt-wrap > .txt-box > .wrap > .color > .color-box{
  width : 15% ;
  height : 100% ;
  border-radius : 50% ;
  margin-right : 5% ;
  background-color : gray ;
} 

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section01 > .txt-wrap > .txt-box > .wrap > .color > .color-box:first-child{
  background-color : rgba(112, 127, 188) ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section01 > .txt-wrap > .txt-box > .wrap > .color > .color-box:nth-child(2){
  background : rgba(255, 204, 102) ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section01 > .txt-wrap > .txt-box > .wrap > .color > .color-box:nth-child(3){
  background-color : rgba(236, 192, 111) ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section01 > .txt-wrap > .txt-box > .wrap > .color > .color-box:last-child{
  background-color : rgba(31, 174, 152) ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section02 > .txt-wrap > .txt-box > .wrap > .color > .color-box:first-child{
  background-color : rgba(212, 230, 240) ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section02 > .txt-wrap > .txt-box > .wrap > .color > .color-box:nth-child(2){
  background-color : rgba(21, 183, 195) ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section03 > .txt-wrap > .txt-box > .wrap > .color > .color-box:first-child{
  background-color : rgba(247, 190, 157) ;
}

.slider-wrap .slider > .art-work > .diary-wrap > .paper > .section03 > .txt-wrap > .txt-box > .wrap > .color > .color-box:nth-child(2){
  background-color : rgba(48, 103, 160) ;
}
/* art-work end */
/* etc start */
.slider-wrap .slider > .etc{
  position : relative ;
}

.slider-wrap .slider > .etc > .main-txt{
  writing-mode : vertical-rl ;
  text-orientation : upright ;
  font-size : 42px ;
  position : absolute ;
  top : 30% ;
  left : 10% ;
  transform : translate(-10%,-30%) ;
  cursor : context-menu ;
  font-family: 'Arita-dotum-Medium';
}

.slider-wrap .slider > .etc > .diary-wrap{
  width : 70% ;
  padding-bottom : 45% ;
  background-color : rgba(240,217,209) ;
  position : absolute ;
  top : 50% ;
  left : 70% ;
  transform : translate(-70%,-50%) ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper{
  width : 90% ;
  height : 90% ;
  background-color : rgba(244,239,236) ;
  position : absolute ;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,-50%) ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .section{
  width : 27% ;
  padding-bottom : 25% ;
  font-family: 'Dovemayo-Medium';
  font-size : 20px ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .section01{
  position : absolute ;
  transform : rotate(-20deg) translate(-10%,-15%);
  top : 15% ;
  left : 10% ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .section02{
  position : absolute ;
  transform : rotate(25deg) translate(-10%,-15%);
  right : 10% ;
  top : 15% ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .section03{
  position : absolute ;
  transform : rotate(-10deg) translate(-10%,-5%);
  bottom : 5% ;
  left : 10% ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .section04{
  position : absolute ;
  transform : rotate(16deg) translate(-5%,-7%);
  bottom : 7% ;
  right : 5% ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .section04 > .img-box{
  position : absolute ;
  bottom : 0 ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .section04 > .txt-box{
  position : absolute ;
  top : 0 ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .section05{
  position : absolute ;
  transform : rotate(-5deg) translate(-50%,-50%);
  top : 50% ;
  left : 50% ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .section > .img-box{
  width : 100% ;
  height : 75% ;
  background-color : yellow ;
  position : absolute ;
  box-sizing : border-box ;
  background-position : center ;
  background-repeat : no-repeat ;
  background-size : cover ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .section > .img-box > img{
  width : 100% ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .section > .txt-box{
  width : 100% ;
  height : 15% ;
  position : absolute ;
  bottom : 0 ;
  text-align : center ;
  cursor : context-menu ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .arrow{
  width : 150px ;
  height : 150px ;
  background-position : center ;
  background-repeat : no-repeat ;
  background-size : cover ;
  z-index : 999 ;
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .arrow01{
  position : absolute ;
  top : 50% ;
  left : 5% ;
  transform : translate(-5%,-50%) rotate(-15deg) ;
  background-image: url(https://raw.githubusercontent.com/leeyoounjung/Portfolio/b4a1e3fcd3b84c31d71a590d2f5502df037be461/arrow01.png);
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .arrow02{
  position : absolute ;
  top : 30% ;
  right : 30% ;
  transform : translate(-30%,-30%) rotate(320deg);
  background-image: url(https://raw.githubusercontent.com/leeyoounjung/Portfolio/b4a1e3fcd3b84c31d71a590d2f5502df037be461/arrow02.png);
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .arrow03{
  position : absolute ;
  bottom : 5% ;
  left : 5% ;
  transform : translate(-5%,-5%) rotate(20deg) ;
  background-image: url(https://raw.githubusercontent.com/leeyoounjung/Portfolio/b4a1e3fcd3b84c31d71a590d2f5502df037be461/arrow03.png);
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .arrow04{
  position : absolute ;
  bottom : 20% ;
  right : 3% ;
  transform : translate(-3%,-20%) ;
  background-image: url(https://raw.githubusercontent.com/leeyoounjung/Portfolio/b4a1e3fcd3b84c31d71a590d2f5502df037be461/arrow04.png);
}

.slider-wrap .slider > .etc > .diary-wrap > .paper > .arrow05{
  position : absolute ;
  bottom : 18% ;
  left : 40% ;
  transform : translate(-40%,-18%) rotate(-5deg) ;
  background-image: url(https://raw.githubusercontent.com/leeyoounjung/Portfolio/b4a1e3fcd3b84c31d71a590d2f5502df037be461/arrow05.png);
}
/* etc end */
/* contact start */
.slider-wrap .slider > .contact{
  position : relative ;
}

.slider-wrap .slider > .contact > .diary-wrap{
  width : 100% ;
  height : 100% ;
  background-image : url(https://image.freepik.com/free-photo/cross-stitch-pattern_23-2148145960.jpg) ;
  background-position : center ;
  background-repeat : no-repeat ;
  background-size : cover ;
}

.slider-wrap .slider > .contact > .diary-wrap > .memo{
  width : 40% ;
  padding-bottom : 40% ;
  position : absolute ;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,-50%) ;
  box-sizing : border-box ;
  background-image : url(https://raw.githubusercontent.com/leeyoounjung/Portfolio/d7a0614c53e5ebca3707c08fb73741d11c0e63e5/%ED%8F%AC%EC%8A%A4%ED%8A%B8%EC%9E%873.png) ;
  background-position : center ;
  background-repeat : no-repeat ;
  background-size : cover ;
}

.slider-wrap .slider > .contact > .diary-wrap > .memo > ul{
  position  : absolute ;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,-50%) ;
  text-align : center ;
  font-size : 24px ;
  font-family: 'Dovemayo-Medium';
}

.slider-wrap .slider > .contact > .diary-wrap > .memo > ul > li{
  margin-bottom : 20% ;
}
/* contact end */
/* last-chapter start */
.slider-wrap .slider > .last-chapter{
  position : relative ; 
  overflow-x : hidden ;
}

.slider-wrap .slider > .last-chapter > .diary{
  width : 35% ;
  position : absolute ;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,-50%) ;
  box-sizing : border-box ;
  position : relative ;
}

.slider-wrap .slider > .last-chapter > .diary > .left{
  width : 100% ;
  padding-bottom : 120% ;
  background-color : rgba(241, 185, 186) ; 
  box-sizing : border-box ;
}

.slider-wrap .slider > .last-chapter > .diary > .menu > ul{
  position : absolute ;
  top : 50% ;
  left : -23% ;
  transform : translate(23%,-50%) ;
  height : 100% ;
  text-align : center ;
  font-family: 'Arita-dotum-Medium';
  font-size : 20px ;
}

.slider-wrap .slider > .last-chapter > .diary > .menu > ul > li{
/*   padding-bottom : 20% ; */
  height : 50px ;
  border : 3px rgba(221,183,172) solid ;
  border-bottom : 0 ;
  background-color : rgba(244,239,236) ;
}

.slider-wrap .slider > .last-chapter > .diary > .menu > ul > li:last-child{
  border-bottom : 3px rgba(221,183,172) solid ;
}

.slider-wrap .slider > .last-chapter > .diary > .menu > ul > li:nth-child(5) {
  line-height : 300% ;
}

.slider-wrap .slider > .last-chapter > .diary > .menu > ul > li:nth-child(6) {
  line-height : 300% ;
}

.slider-wrap .slider > .last-chapter > .pen{
  background-repeat : no-repeat ;
  background-size : cover ;
  background-position:  center ;
  width : 8% ;
  height : 50% ;
}

.slider-wrap .slider > .last-chapter > .pen > img{
  width : 60% ;
}

.slider-wrap .slider > .last-chapter > .pen01{
  position : absolute ;
  top : 45% ;
  left : 10% ;
  transform : rotate(20deg) translate(-10%,-45%);
}

.slider-wrap .slider > .last-chapter > .pen02{
  position : absolute ;
  top : 50% ;
  right : 20% ;
  transform : rotate(20deg) translate(-20%,-50%);
}

.slider-wrap .slider > .last-chapter > .pen03{
  position : absolute ;
  top : 30% ;
  right : 13% ;
  transform : rotate(-35deg) translate(-13%,-30%);
}

.slider-wrap .slider > .last-chapter > .pen04{
  position : absolute ;
  top : 30% ;
  left : 2% ;
  transform : translate(-2%,-30%) rotate(80deg) ;
}

.slider-wrap .slider > .last-chapter > .pen05{
  position : absolute ;
  top : 5% ;
  right : 2% ;
  transform : translate(-2%,-5%) rotate(20deg) ;
}

.slider-wrap .slider > .last-chapter > .pen06{
  position : absolute ;
  bottom : 3% ;
  right : 12% ;
  transform : translate(-12%,-3%) rotate(60deg) ;
}

.slider-wrap .slider > .last-chapter > .pen07{
  position : absolute ;
  top : 1% ;
  left : 2% ;
  transform : translate(-2%,-1%) rotate(-45deg) ;
}

.slider-wrap .slider > .last-chapter > .pen08{
  position : absolute ;
  bottom : 18% ;
  left : 2% ;
  transform : translate(-2%,-18%) rotate(-30deg) ;
}
/* last-chapter end */
/* font start */
@font-face {
    font-family: 'Dovemayo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* font end */